/* Copyright 2017 GabeNeri.com*/

/*************************************
COLORS
*************************************/

//colors:
$accent1: rgba(120, 120, 120, 0.8);
$accent2: rgba(90, 117, 173, 0.8);
$accent3: rgba(246, 246, 246, 0.5);
$accent4: rgba(229, 229, 229, 0.5);
$logo_accent1: #A57FFF;
$logo_accent2: #9E71FF;
$grey: rgba(229, 229, 229, 0.5);
$header: rgba(255, 255, 255, 0.8);
$utility_nav: rgba(67, 77, 85, 0.5);
$search_field: rgba(0, 255, 255, 0.5);
$footer: #434d55;
$a: #4BCAFF;
$borders: #3e69ac;

/* headline text */

h1,
h2,
h3 {
  color: darkorange;
}

/* paragraphs */

p {
  color: black;
}

/* unordered lists */

ul {
  color: lightgray;
}

/* links */

a {
  color: darkorange;
}

a:hover {
  color: darkgoldenrod;
}

/*************************************
LAYOUT
*************************************/

html {
  box-sizing: border-box;
}

html > * {
  box-sizing: inherit;
}

/* apply a natural box layout model to all elements */
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li, /* ul default needed to be reset */
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, main, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  min-width: 320px;
  font-family: 'Lato', Verdana, sans-serif;
}

/**
 * Define the space for each grid item by declaring the grid
 * on the grid container.
 */
.site-container {
  /**
   * Two columns:
   *  1. the first sized to content,
   *  2. the second receives the remaining space
   *     (but is never smaller than the minimum size of the board
   *     or the game controls, which occupy this column [Figure 4])
   *
   * Three rows:
   *  3. the first sized to content,
   *  4. the middle row receives the remaining space
   *     (but is never smaller than the minimum height
   *      of the board or stats areas)
   *  5. the last sized to content.
   */
  display: grid;
  grid-template-columns: auto /* 1 */
  1fr; /* 2 */
  grid-template-rows: auto /* 3 */
  1fr /* 4 */
  auto; /* 5 */
}

/* Specify the position of each grid item using coordinates on
 * the 'grid-row' and 'grid-column' properties of each grid item.
 */
.header {
  grid-column: 1;
  grid-row: 1;
}

.intro {
  grid-column: 1;
  grid-row: 3;
}

.about {
  grid-column: 1;
  grid-row: 2;
  align-self: start;
}

.work {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.contact {
  grid-column: 2;
  grid-row: 3;
  justify-self: center;
}

/*************************************
GENERAL
*************************************/

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 2em;
  font-weight: normal;
  margin: 10% 0 10% 0;;
}

h3 {
  margin: 0 0 1em 0; /* zeros out margins on h3 element, and adds margin to the bottom to sep from text a little more */
}

.intro {
  text-align: center;
  font-size: 1.5em;
}

p {
  margin-top: 5%;
}

/*************************************
NAVIGATION
*************************************/

.global-nav-wrap, .footer-nav-wrap {
  height: auto;
  min-height: 50px;
  border-bottom: 1px solid #888888;
}

.logo {
  width: 15%;
  height: auto;
}

nav {
  width: 85%;
  text-align: center;
  height: auto;
  font-size: 1.2em;
  padding-top: 2.5%;
}

li {
  display: inline;
  padding-right: 3%;
}

/*************************************
FOOTER
*************************************/

footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 50px;
  color: #ccc;
}

/* Responsive CSS */
@media screen and (min-width: 480px) {

}

@media screen and (min-width: 660px) {

  /*************************************
 HEADER
  *************************************/

  nav {
    background: none;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 0.825em;
    margin-bottom: 20px;
  }

  header {
    margin-bottom: 60px;
  }
}
